@import "reset.css";

*::selection {
  background-color: $blue;
  color: $white;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: whitesmoke;
}

p {
  line-height: 1.4;

  strong {
    font-weight: 700;
  }
}

.btn {
  margin: 1.4rem 0;
  border-radius: 40px;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  width: fit-content;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: $jakarta;
  display: inline-block;
  background-color: $white;
  border: 1px solid $blue;
  color: $blue;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: $blue;
    color: $white;
    border-color: $white;
  }

  &.btn-reverse {
    background-color: $blue;
    color: $white;
    border-color: transparent;

    &:hover {
      background-color: $white;
      color: $blue;
      border-color: $blue;
    }
  }
  &:hover {
    svg path {
      fill: $blue;
    }
  }

  &.btn-red{
    background-color: $red;
    color: $white;
    border-color: transparent;

    &:hover {
      background-color: $white;
      color: $red;
      border-color: $red;
    }

    &:hover {
      svg path {
        fill: $red;
      }
    }
  }

  &.btn-orange{
    background-color: $orange;
    color: $white;
    border-color: transparent;

    &:hover {
      background-color: $white;
      color: $orange;
      border-color: $orange;
    }

    &:hover {
      svg path {
        fill: $orange;
      }
    }
  }

  svg {
    margin-left: 1rem;
    margin-right: -1rem;

    path {
      transition: all .2s ease-in-out;
    }
  }



  &.--loading {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      background-color: $blue;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 3px solid transparent;
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 3px solid $white;
      width: 2rem;
      height: 2rem;
      z-index: 3;
      border-radius: 50%;
      animation: spin .75s linear infinite;
    }
  }
}

.input {
  border: 1px solid $black;
  padding: 1rem 2rem;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.6rem;
  background-color: $white;
  display: flex;
  font-family: $jakarta;
  font-weight: 500;

  &:focus {
    outline: none;
    border-color: $blue;
  }
}

select.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.59 8.29501L12 12.875L7.41 8.29501L6 9.70501L12 15.705L18 9.70501L16.59 8.29501Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 97.5%;
  background-position-y: 50%;
  border-radius: 2px;
  color: $black !important;

  option {
    color: $black;
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}